/*
.root {
    -fx-background-image: url("background2.jpg");
    -fx-background-image: url("../../../../background2.jpg");
}
 */
.label {
    -fx-text-fill: white;
}

.slider .axis {
    -fx-tick-label-fill: white;
}

.toggle-button:selected:focused {
    -fx-border-color: white;
    -fx-border-insets: -2px;
}

.toggle-button:selected {
    -fx-border-color: white;
    -fx-border-insets: -2px;
}

.button {
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Avenir Next";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 10px;
    -fx-padding: 10 20 10 20;
}

#toggleBlur {
    -fx-font-weight: bold;
}

.add {
    -fx-font-size: 10px;
    -fx-border-color: none;
    -fx-padding: 4 8 4 8;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 0;
}

.mask {
    -fx-border-insets: 0;
    -fx-padding: 3;
    -fx-border-radius: 0;
}
